## Reto 4: Identificando y limpiando NaNs

### 1. Objetivos:
    - Practicar la identificación de NaNs
    - Practicar eliminar NaNs de un `DataFrame` usando diferentes técnicas

---
    
### 2. Desarrollo:

#### a) Limpiando un Dataset de NaNs

Eres el Data Wrangler de EyePoker Inc. Te han dado el siguiente dataset para que apliques algunas técnicas de procesamiento de datos:

In [1]:
import pandas as pd
import numpy as np

pd.options.mode.chained_assignment = None

In [2]:
datos = {
    'precio': [12000, 5500, np.nan, 4800, 8900, np.nan, 1280, 1040, 23100, np.nan, 15000, 13400, np.nan],
    'cantidad_en_stock': [34, 54, np.nan, 78, 56, np.nan, 34, 4, 0, 18, 45, 23, 5],
    'cantidad_vendidos': [120, 34, np.nan, 9, 15, np.nan, 103, np.nan, np.nan, 23, 10, 62, 59],
    'descuentos': [np.nan] * 13
}

df = pd.DataFrame(datos, index=["Pokemaster", "Cegatron", "Pikame Mucho", "Lazarillo de Tormes", "Stevie Wonder", "Needle", "El AyMeDuele", "El Desretinador", "Sacamel Ojocles", "Desojado", "Maribel Buenas Noches", "Cíclope", "El Cuatro Ojos"])

In [3]:
df

,precio,cantidad_en_stock,cantidad_vendidos,descuentos
Pokemaster,12000.0,34.0,120.0,NaN
Cegatron,5500.0,54.0,34.0,NaN
Pikame Mucho,NaN,NaN,NaN,NaN
Lazarillo de Tormes,4800.0,78.0,9.0,NaN
Stevie Wonder,8900.0,56.0,15.0,NaN
Needle,NaN,NaN,NaN,NaN
El AyMeDuele,1280.0,34.0,103.0,NaN
El Desretinador,1040.0,4.0,NaN,NaN
Sacamel Ojocles,23100.0,0.0,NaN,NaN
Desojado,NaN,18.0,23.0,NaN
Maribel Buenas Noches,15000.0,45.0,10.0,NaN
Cíclope,13400.0,23.0,62.0,NaN
El Cuatro Ojos,NaN,5.0,59.0,NaN

Para poder realizar los análisis y visualizaciones posteriores, te han pedido que elimines los `NaNs` del dataset. Realiza los siguientes pasos para limpiar tu dataset:

1. Has un conteo de cuántos `NaNs` hay en cada fila y en cada columna
2. Elimina las filas y columnas donde **todos** los valores sean `NaN`.
3. Dado que la columna `cantidad_vendidos` no es tan importante, cambia los `NaNs` que haya en esa columna por `0`.
4. Dado que la columna `precio` es muy importante, elimina las filas restantes que tengan algún `NaN` en dicha columna.

Realiza todas tus transformaciones usando el `DataFrame` `df_copy`.

In [27]:
df_copy = df.copy()

## Realiza aquí tus transformaciones
df_copy.isna().sum(axis=1)
df_copy.isna().sum()
df_copy =df_copy.dropna(axis =1 ,how='all')
df_copy = df_copy.dropna(how='all')
df_copy['cantidad_vendidos'] = df_copy['cantidad_vendidos'].fillna(0)
df_copy = df_copy.dropna(how='any')
df_copy
#dfnan.dropna(how='any')

                        precio  cantidad_en_stock  cantidad_vendidos
Pokemaster             12000.0               34.0              120.0
Cegatron                5500.0               54.0               34.0
Lazarillo de Tormes     4800.0               78.0                9.0
Stevie Wonder           8900.0               56.0               15.0
El AyMeDuele            1280.0               34.0              103.0
El Desretinador         1040.0                4.0                0.0
Sacamel Ojocles        23100.0                0.0                0.0
Maribel Buenas Noches  15000.0               45.0               10.0
Cíclope                13400.0               23.0               62.0

Pídele a tu experta la función de verificación `revisar_limpieza` (encontrada en el archivo `helpers.py` de la carpeta donde se encuentra este Reto), pégala debajo y corre la celda para verificar tu resultado:

In [28]:
# Pega aquí la función de verificación
def revisar_limpieza(df, df_copy):
    df_2 = df.copy()
    df_2 = df_2.dropna(axis=0, how='all')
    df_2 = df_2.dropna(axis=1, how='all')
    df_2['cantidad_vendidos'] = df_2['cantidad_vendidos'].fillna(0)
    df_2 = df_2.dropna(axis=0)

    if not df_2.equals(df_copy):
        print(f'La transformación no fue realizada adecuadamente... Por favor revisa tu procedimiento.\n')
        print(f'DataFrame esperado:\n')
        print(df_2)

        print(f'\nDataframe obtenido:\n')
        print(df_copy)
    else:
        print(f'La transformación fue realizada exitosamente... Muchas gracias!')
revisar_limpieza(df, df_copy)

La transformación fue realizada exitosamente... Muchas gracias!