## Ejemplo 2: Series

### 1. Objetivos:
    - Entender qué son las `Series`
    - Aprender a crear `Series` de pandas
    - Aprender los métodos básicos de indexación de las `Series`

---
    
### 2. Desarrollo:

In [1]:
import pandas as pd

Las `Series` son secuencias ordenadas de unidimensionales que pueden contener diferentes tipos de valores. En esto se parecen a las `listas`. De hecho podemos crear `Series` usando `listas`.

In [2]:
serie_1 = pd.Series([3, 7, 9, 8])

Una gran diferencia que tienen con las `listas` es que cada elemento en una `Serie` tiene un índice asociado que no necesariamente es una secuencia de enteros como en las `listas`. En este aspecto, nuestras `Series` se parecen a los `diccionarios`:

In [3]:
serie_1

0    3
1    7
2    9
3    8
dtype: int64

La columna de la izquierda es nuestro índice, la columna de la derecha son los datos almacenados en la `Serie`. El texto en la parte inferior es el tipo de dato que tenemos en nuestra `Serie`.

Los tipos de datos más comunes que podemos encontrar son:

1. `int64`: Equivalente a `int`
2. `float64`: Equivalente a `float`
3. `bool`: Equivalente a `bool` (duh)
4. `object`: Equivalente a `str`, o indica que hay una mezcla de tipos de datos numéricos y no-numéricos en la `Serie`

> **Importante**: Tener `Series` que contengan diversos tipos de datos es una **muy mala** práctica. Lo recomendable es siempre tener homogeneidad de tipos de dato en cada `Serie` que tengamos. De todas maneras, se encontrarán por ahí algunos conjuntos de datos que contienen `Series` con tipos de datos diversos. Es por eso que cuando nos topemos con un tipo de dato `obj` tenemos que ser cuidadosos y no asumir automáticamente que el tipo de dato incluido son `strings`.

Podemos crear `Series` con un índice customizado:

In [4]:
serie_2 = pd.Series([4, 7, 9, 8], index=[10, 11, 12, 13])

serie_2

10    4
11    7
12    9
13    8
dtype: int64

Incluso podemos usar `strings` en el índice:

In [5]:
serie_3 = pd.Series([5, 8, 7, 2], index=['a', 'b', 'c', 'd'])

serie_3

a    5
b    8
c    7
d    2
dtype: int64

Debido a su similitud, podemos incluso crear `Series` usando `diccionarios`:

In [6]:
datos = {
    "Juan": 45,
    "Pepe": 56,
    "Alfonsina": 12,
    "Jenny": 49,
    "Marco P.": 12
}

serie_4 = pd.Series(datos)

serie_4

Juan         45
Pepe         56
Alfonsina    12
Jenny        49
Marco P.     12
dtype: int64

Al igual que en las listas, podemos acceder a nuestros datos usando el `operador de indexación`. La diferencia es que en una `Serie` tenemos que incluir el operador `loc` para indicarle a la `Serie` que estamos accesándola usando los nombres de los índices:

In [7]:
serie_1.loc[2]

9

In [8]:
serie_2.loc[12]

9

También podemos usar también `strings` como argumento:

In [9]:
serie_3.loc['c']

7

In [10]:
serie_4.loc['Marco P.']

12

¡Vayamos a nuestro primer Reto!